h1,h2,h3,h4,h5,p,label{
    color: white;
}

body{
    background-image: url(./img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.row{
    justify-content: center;
}

.col-5{
    margin-left: 10px;
}

#navbarNav{
    justify-content: end !important;
}

.navbar{
    border: 5px solid rgb(31, 9, 109);
    background-color: #2B45DD !important;
    margin: none ;
}

.navlink{
color: white !important;
}

.col-5{
    border-color: aliceblue !important;
    border-radius: 20px;
    margin-top: 20px;

}

.col-5.columna1{
    background-color: rgb(38, 15, 139) !important;
    padding: 20px 5px 20px 5px;
    color: white;
}

.col-5.columna1:hover{
    background-color: #F0C32E !important;
    border: 2px solid rgb(255, 255, 255) !important;
    padding: 20px 5px 20px 5px;
    color: white !important;
}

#r1p1{
    cursor: pointer;
}

#r1p1:hover{
    cursor: pointer;
    background-color: rgb(219, 181, 98) !important;   
}
#r2p1:hover{
    cursor: pointer;
    background-color: rgb(219, 181, 98) !important;   
}
#r3p1:hover{
    cursor: pointer;
    background-color: rgb(219, 181, 98) !important;   
}
#r4p1:hover{
    cursor: pointer;
    background-color: rgb(219, 181, 98)!important;   
}


#r2p1{
    cursor: pointer;
}

#r3p1{
    cursor: pointer;
}

#r4p1{
    cursor: pointer;
}

a{
    color: white
}
